/**
 * Base style to affect HTML elements on a general scale.
 */
@bgColorHtml: #424242;
@bgColorBody: #fff;
@colorBody: #333;
@backgroundImage: none;

/**Customized font*/

@fontFamilyTextMeOne: 'Text Me One', sans-serif;
@fontFamilyFjallaOne: 'Fjalla One', sans-serif;

@fontFamilyLibreBaskerville: 'Libre Baskerville', serif;
@fontFamilyCinzel: 'Cinzel', serif;

@fontFamilyAmaticSC: 'Amatic SC', cursive;
@fontFamilyExo: 'Exo', sans-serif;
//@fontFamilyBody: serif;

* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
    height: 100%;
    background-image: @backgroundImage;
    background-attachment: fixed;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    color: @colorBody;
    background-color: @bgColorBody;
    //background-image: @backgroundImage;
    height: 100%;
    width: 100%;
    #desinax-hgrid.font(@fontSizeBody);
    //font: 100.01%/1 @fontFamilyBody;
}


img {
    max-width: 100%;
}

.inner-wrap .row {
    margin: 0;
    max-width: 100%;
}

// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();
